.curtain {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: all 0.5s;
}

.curtain--active {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-curtain {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: var(--bg-clr);
    padding: 120px 25px 25px;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.nav-curtain--active {
    transform: translateX(0%);
}

.nav-curtain__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.link {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: clamp(26px, 3vw, 36px);
    font-weight: 500;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background: var(--accent-clr);
    transition: transform 0.3s ease-out;
}

.link:hover::before {
    transform: scaleY(1);
    transform-origin: top;
}

.active-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: top;
    background: var(--accent-clr);
}

.nav-curtain__products-link {
    display: flex;
    column-gap: 10px;
}

.products-btn {
    position: relative;
    z-index: 0;
    width: 50px;
    aspect-ratio: 1/1;
    font-size: 2rem;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
}

.products-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 10px;
    background: var(--accent-clr);
    transition: all 0.3s;
}

.products-btn--active::before {
    width: 100%;
    height: 100%;
}

.products-btn__icon {
    transition: transform 0.3s;
}

.products-btn__icon--active {
    transform: rotate(45deg);
}

.nav-curtain__grid-dropdown {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s;
}

.nav-curtain__grid-dropdown--active {
    grid-template-rows: 1fr;
}

.nav-curtain__dropdown {
    overflow: hidden;
    padding: 0 35px;

    li {
        margin: 5px 0;

        a {
            transition: color 0.3s;
            &:hover {
                color: var(--accent-clr);
            }
        }
    }
}

@media (max-width: 900px) {
    .nav-curtain {
        padding: 90px 10px 10px;
    }

    .nav-curtain__dropdown {
        padding: 0 20px;
    }
}
