@use "./../../mixins" as *;

.products-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.filter-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 10px;
}

.search-wrapper {
    height: 50px;
    background: #fff;
    @include flex-between-center;
    border-radius: 10px;
    padding-right: 5px;
}

.search-input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 10px;
    height: 100%;
}

.search-icon {
    @include grid-center;
    width: 40px;
    aspect-ratio: 1/1;
    background: var(--accent-clr);
    border-radius: inherit;
}

@media (max-width: 900px) {
    .products-container {
        row-gap: 15px;
    }

    .products-info {
        padding: 0 10px;
    }
}

@media (max-width: 900px) {
    .products-container {
        row-gap: 10px;
    }
}
