@use "./../../mixins" as *;

.home {
	position: relative;
	padding-top: 120px;
}

.home-container {
	position: relative;
	z-index: 0;
	height: calc(100svh - 145px);
	@include flex-center-start;
	flex-direction: column;
	row-gap: 25px;
	border-radius: 10px;
	padding: 25px;
	background: #fff;
	overflow: hidden;
}

.home-container__video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.home-container__title {
	font-size: 1.5rem;
	color: #fff;
}

.home-container__sec-title {
	color: #fff;
	font-weight: 600;
	font-size: clamp(2rem, 4vw, 3rem);
}

.home-container__link {
	background: var(--accent-clr);
	padding: 10px;
	border-radius: 10px;
}

@media (max-width: 900px) {
	.home {
		padding-top: 90px;
	}

	.home-container {
		height: calc(100svh - 100px);
		padding: 10px;
		row-gap: 10px;
	}
}
