.business-hours {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 50%;
	position: relative;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
}

.business-hours__title {
	font-size: 1.5rem;
	font-weight: 500;
}

.business-hours__list {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 5px;
	flex-grow: 1;

	li {
		display: flex;
		justify-content: space-between;
		border: 1px solid var(--accent-clr);
		padding: 10px;
		border-radius: 10px;
	}
}

.day--active {
	background: var(--accent-clr);
}

@media screen and (max-width: 900px) {
	.business-hours {
		width: 100%;
		padding: 10px;
	}
}
