@use "./../../mixins" as *;

.footer {
    margin-top: 25px;
    position: relative;
}

.footer-top {
    position: relative;
    width: calc(100% - 60px);
    height: 60px;
    background: #fff;
    border-radius: 10px 10px 0 0;
}

.footer-top::after {
    content: "";
    position: absolute;
    width: 60px;
    aspect-ratio: 1/1;
    background: transparent;
    right: -60px;
    top: 0px;
    border-bottom-left-radius: 10px;
    box-shadow: -10px 10px #fff;
}

.to-top-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 50px;
    aspect-ratio: 1/1;
    @include grid-center;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.to-top-btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--accent-clr);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s;
}

.to-top-btn:hover::before {
    transform: scale(1);
}

.footer-details {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background: #fff;
    border-radius: 0 10px 10px 10px;
    padding: 25px;
}

.footer-logo {
    align-self: center;
    font-size: clamp(26px, 3vw, 36px);
}

.certificates-info {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 25px;
    font-weight: 500;
}

.certificates {
    @include flex-center;
    gap: 25px;
    flex-wrap: wrap;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.footer-nav__title {
    display: flex;
    // I use space between because of btn icon that will be visible on mobile
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: clamp(1.25rem, 4vw, 1.5rem);
}

.footer-nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    li {
        a {
            transition: color 0.15s;

            &:hover {
                color: var(--accent-clr);
            }
        }
    }
}

.dropdown-btn__icon {
    display: none;
}

.footer__bottom {
    @include flex-between-center;
}

.creator-link {
    transition: color 0.15s;

    &:hover {
        color: var(--accent-clr);
    }
}

.dropdown-btn {
    pointer-events: none;
}

@media screen and (max-width: 900px) {
    .footer {
        margin-top: 10px;
    }

    .footer-details {
        padding: 10px;
    }

    .footer-nav {
        gap: 10px;
    }
}

@media screen and (max-width: 800px) {
    .footer-nav {
        flex-direction: column;
    }

    .dropdown-btn {
        position: relative;
        z-index: 1;
        padding: 0 10px;
        border-radius: 10px;
        overflow: hidden;
        pointer-events: all;
        cursor: pointer;
    }

    .dropdown-btn::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: bottom right;
        background: var(--accent-clr);
        transition: transform 0.6s;
    }

    .dropdown-btn--active::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .dropdown-btn__icon {
        display: initial;
        font-size: 2rem;
        transition: transform 0.3s;
    }

    .dropdown-btn__icon--active {
        transform: rotate(45deg);
    }

    .grid-dropdown__wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s;
    }

    .grid-dropdown__wrapper--active {
        grid-template-rows: 1fr;
    }

    .grid-dropdown {
        overflow: hidden;
    }

    .footer-nav__list {
        padding: 10px 10px 0 10px;
    }

    .footer__bottom {
        flex-direction: column;
    }
}
