@mixin glass-effect {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin flex-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin grid-center {
    display: grid;
    place-content: center;
}
