@use "./reset" as *;
@use "./fonts" as *;
@use "./variables" as *;

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font-family);
    background: rgb(245, 245, 245);
    min-height: 100svh;
    color: #000;
    // overflow: hidden;
    padding: 0 25px 25px;
}

::-moz-selection {
    background: var(--color-dark);
}
::selection {
    background: var(--color-dark);
}

.body--hidden {
    height: 100% !important;
    overflow: hidden !important;
}

.wrapper {
    display: none;
}

@media (max-width: 900px) {
    body {
        padding: 0 10px 10px;
    }
}
