@use "./../../mixins" as *;

.lng-select {
    position: relative;
}

.lng-select__btn {
    height: 50px;
    min-width: 50px;
    @include flex-center;
    column-gap: 5px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.lng-select__btn--active {
    border: 1px solid var(--accent-clr);
}

.lng-select__dd {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 50px;
    background: var(--bg-clr);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
}

.lng-select__dd--active {
    opacity: 1;
    pointer-events: all;
}

.lng-select__option {
    height: 50px;
    min-width: 50px;
    @include flex-center;
    column-gap: 5px;
    background: #fff;
    border-radius: inherit;
    padding: inherit;
    cursor: pointer;

    &:hover {
        background: var(--accent-clr);
    }
}

.lng-select__option--active {
    background: var(--accent-clr);
}
