@use "./../../mixins" as *;

.contacts-icons-container {
	@include flex-center;
	flex-direction: column;
	background: #fff;
	border-radius: 10px;
}

.icon-container {
	position: relative;
	z-index: 0;
	width: 100%;
	@include flex-center;
	flex-direction: column;
	row-gap: 25px;
	text-align: center;
	padding: 25px;
	border-radius: 10px;
	overflow: hidden;

	img {
		width: 40px;
	}
}

.icon-container::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	background: var(--accent-clr);
	z-index: -1;
	transition: height 0.5s ease;
}

.icon-container:hover::before {
	height: 100%;
}

.form-map-container {
	display: flex;
	gap: 25px;
	margin-top: 25px;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
	padding: 25px;
	font-size: 16px;
	background: #fff;
	border-radius: 10px;
}

.form__title {
	font-size: clamp(20px, 3vw, 30px);
	font-weight: 500;
}

.inputs__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.contact-label {
	padding: 0 5px 5px;
}

.form__input,
textarea {
	padding: 10px 5px;
	border-radius: 10px;
	font-size: 1rem;
	border: 1px solid var(--accent-clr);
}

textarea {
	resize: none;

	&:focus {
		outline: none;
	}
}

.form-submit-btn {
	position: relative;
	z-index: 0;
	margin-top: auto;
	align-self: flex-end;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;

	// TODO: Does the submit btn has its own font weight?
	font-weight: inherit;
}

.form-submit-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	background: var(--accent-clr);
	transform-origin: bottom right;
	transition: transform 0.3s;
}

.form-submit-btn:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.contacts__map-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
	padding: 25px;
	background: #fff;
	border-radius: 10px;
}

.contacts__map-title {
	font-size: clamp(20px, 3vw, 30px);
	font-weight: 500;
}

.contacts__map {
	border-radius: inherit;
	height: 100%;
}

.contacts-container {
	display: flex;
	gap: 25px;
	margin-top: 25px;
}

.column-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

@media screen and (max-width: 895px) {
	.icon-container {
		row-gap: 10px;
		padding: 10px;

		img {
			width: 30px;
		}
	}

	.form-map-container {
		flex-direction: column;
	}

	.form {
		padding: 10px;
	}

	.form-map-container {
		@include flex-center;
		gap: 10px;
		margin-top: 10px;
	}

	.contacts__map-wrapper {
		padding: 10px;
	}

	.contacts__map {
		height: 500px;
	}

	.contacts-container {
		flex-direction: column;
		gap: 10px;
		margin-top: 10px;
	}
}
